.modal {
    overscroll-behavior: contain;

    border: 1px solid var(--accent-light-color);
    background-color: #FAFAFA;
    border-radius: 8px;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.35);
}