.information-board__icon {
    height: 30px;
    width: 30px;
    padding: 5px;

    border-radius: 8px;

    cursor: pointer;
}

.information-board__icon:hover {
    background-color: var(--primary-light-color);

    transition: 250ms ease-in;
}
