.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__headerContent-container {
    padding-bottom: 20px;
    width: 50%;

    border-bottom: 2px solid #b7c8d3;

    cursor: pointer;
    transition: 200ms ease-in;
}

.header__headerContent-container-active {
    border-bottom: 2px solid #0078d2;
}

.header__headerContent-container-right {
    display: flex;
    justify-content: flex-end;
}
